################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
/AjaxNet/.vs/config
/ExpenseIt/obj/Debug
/ExpenseIt/bin/Debug
/ExpenseIt/.vs/ExpenseIt/v15
/ExpenseIt/obj/Debug
/ExpenseIt/bin/Debug
/ExpenseIt/.vs/ExpenseIt/v15
