<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Azure Storage: stoacuweb -->
        <add key="stoacuweb_AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=stoacuweb;AccountKey=6aTKBTmwstizGMBuL/aS5OGwQSHUU+sLFXGu3Xg0/K6egq+qhg+Mt+s47o41s38qahaMGYzkKMWf4b/xHKljyw==" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>